{#
<div class="modal-header">
    <h1 class="modal-title fs-5" id="kda_modalLabel_{{ project.id }}">{{ project.title }}</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schliessen"></button>
</div>
#}
<div class="kda_refModalBox">
    {% if project.addGallery|default and project.gallery|default|length > 0 %}
        <div class="kda_refModalImg container-fluid" style="min-height: 300px">
            <div class="carousel-wrap">
                <div id="kda_owlSlider_{{ moduleUuid }}" class="owl-carousel owl-theme owl-carousel-fix">
                    {% for image in project.gallery %}
                        <div class="item">
                            {{ contao_figure(image.uuid, project.sizeMultiSRC, {
                                options: { attr: { class: 'img-fluid w-100' } }
                            }) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="kda_refModalTxt">
        {% if project.headlineOne|default %}
            <h3 class="kda_refModalProjectHeadlineOne">
                {{ project.headlineOne }}
            </h3>
        {% endif %}

        {% if project.headlineTwo|default %}
            <h4 class="kda_refModalProjectHeadlineTwo">
                {{ project.headlineTwo }}
            </h4>
        {% endif %}

        {% if project.text|default %}
            <div class="kda_refModalProjectTxt">
                <p>{{ project.text|nl2br }}</p>
            </div>
        {% endif %}
    </div>

</div>
