{% extends '@Contao/block_searchable' %}

{% block content %}
    {# mandatory css #}
    {# remove these lines if owl is already included by your layout #}
    {% do addCssResource('bundles/code4nixcontaoproject/owl_carousel_2.3.4/dist/assets/owl.carousel.min.css') %}
    {% do addCssResource('bundles/code4nixcontaoproject/owl_carousel_2.3.4/dist/assets/owl.theme.default.min.css') %}
    {# end mandatory css #}

    {# optional css #}
    {% do addCssResource('bundles/code4nixcontaoproject/css/styles.css') %}
    {# end optional css #}

    {# mandatory javascript #}
    {# remove these lines if owl/jquery is already included by your layout #}
    {% do addHtmlToBody('<script src="bundles/code4nixcontaoproject/js/jquery/jquery.min.js"></script>') %}
    {% do addHtmlToBody('<script src="bundles/code4nixcontaoproject/owl_carousel_2.3.4/dist/owl.carousel.min.js"></script>') %}
    {% set fileMakeTime = getFileMakeTime('vendor/code4nix/contao-project-bundle/public/js/project_detail_app.js') %}.
    {% do addHtmlToBody('<script src="bundles/code4nixcontaoproject/js/project_detail_app.js?ver='~fileMakeTime~'"></script>') %}
    {# end mandatory javascript #}

    {% if projects|default %}

        <div class="kda_refGal mb-4" data-module-uuid="{{ moduleUuid }}">
            <h2 class="hlUpper mb-3">Privatkunden</h2>
            <div class="row gx-2 gy-4 kda_imgRow">
                {% for project in projects %}
                    <div class="{{ project.cssClassListing }}">
                        <div data-project-modal-opener="{{ project.id }}">
                            {% if project.addImage|default and project.singleSRC|default %}
                                {#
                                See https://docs.contao.org/dev/framework/image-processing/image-studio/#twig-contao-4-13
                                for more options
                                #}
                                {{ contao_figure(project.singleSRC, project.sizeSingleSRC, {
                                    metadata: { alt: project.title },
                                    options: { attr: { class: 'img-fluid w-100' } }
                                }) }}
                            {% endif %}

                            <div class="kda_refGalOverlay" role="button" tabindex="{{ loop.index }}" data-project-modal-opener="{{ project.id }}">
                                <strong>{{ project.title }}</strong>
                                <span>Projekt öffnen</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Modal start-->
            <div class="modal fade" id="kda_modal_{{ moduleUuid }}" aria-labelledby="kda_modalLabel_{{ moduleUuid }}" aria-hidden="true">
                <div class="kda_refModalNav">
                    <button class="kda_refModalPrev" aria-label="Prev">Vorheriges Projekt</button>
                    <button class="kda_refModalNext" aria-label="Next">Nächstes Projekt</button>
                    <button class="kda_refModalClose" data-bs-dismiss="modal" aria-label="Close">Schließen</button>
                </div>
                <div class="modal-dialog kda_refModalDialog" style="display:block">
                    <div id="kda_modal_skeleton_loading_indicator_{{ moduleUuid }}" class="p-3 placeholder_skeleton_box modal-content">
                        <style>
                            body .kda_refModalBox {
                                display: block;
                            }

                            body .placeholder_skeleton_box {
                                display: none;
                            }

                            body.is-loading-project .kda_refModalBox {
                                display: none;
                            }

                            body.is-loading-project .placeholder_skeleton_box {
                                display: block;
                            }

                            .placeholder_skeleton {
                                width: 100%;
                                max-width: 100%;
                                display: block;
                            }

                            .faux-image-wrapper {
                                margin-bottom: 10px;
                                position: relative;
                                padding-bottom: 100%; /* Or height: 200px; */
                            }

                            .faux-image {
                                background: #dddddd;
                                border-radius: 2px;
                                height: 110px;
                            }

                            .faux-headline {
                                background: #dddddd;
                                border-radius: 2px;
                                height: 20px;
                                margin-bottom: 5px;
                            }

                            .faux-text {
                                background: #cbcbcb;
                                border-radius: 2px;
                                height: 12px;
                                margin-bottom: 5px;
                            }

                            .faux-headline.short {
                                width: 75%;
                            }

                            .faux-text.short {
                                width: 75%;
                            }

                            .shimmer {
                                overflow: hidden;
                                position: relative;
                            }

                            .shimmer::before {
                                content: '';
                                position: absolute;
                                background: #cccccc;
                                height: 100%;
                                width: 100%;
                                opacity: .1;
                                z-index: 1;
                                animation: shimmer 2s infinite;
                            }

                            @keyframes shimmer {
                                0% {
                                    transform: translateX(-100%);
                                }
                                100% {
                                    transform: translateX(100%);
                                }
                            }
                        </style>
                        <div class="placeholder_skeleton shimmer">
                            <div class="row gx-2 mb-3">
                                <div class="col-4">
                                    <div class="faux-image"></div>
                                </div>
                                <div class="col-4">
                                    <div class="faux-image"></div>
                                </div>
                                <div class="col-4">
                                    <div class="faux-image"></div>
                                </div>
                            </div>
                            <div class="faux-headline short"></div>
                            <div class="faux-headline short mb-3"></div>
                            <div class="faux-text"></div>
                            <div class="faux-text"></div>
                            <div class="faux-text"></div>
                            <div class="faux-text"></div>
                            <div class="faux-text"></div>
                            <div class="faux-text"></div>
                            <div class="faux-text"></div>
                            <div class="faux-text"></div>
                            <div class="faux-text"></div>
                            <div class="faux-text"></div>
                            <div class="faux-text"></div>
                            <div class="faux-text"></div>
                            <div class="faux-text"></div>

                        </div>
                    </div>
                    <div id="kda_modal_content_{{ moduleUuid }}" class="modal-content kda_refModalBox">
                        {# Here comes to content loaded by ajax #}
                    </div>
                </div>
            </div>
            <!-- End modal -->
        </div>

        <script>

            window.addEventListener("DOMContentLoaded", (event) => {
                // Set your OWL Carousel options here:
                const carouselOptions = {
                    lazyLoad: false,
                    loop: true,
                    nav: true,
                    center: true,
                    margin: 4,
                    items: 3,
                };

                let clickEventObserver = [];

                if (typeof bootstrap === "undefined") {
                    throw new Error('Bootstrap framework not found.');
                }

                const moduleUuid = '{{ moduleUuid }}';
                const projectIds = [{{ projectIds|default([])|join(',') }}];

                // Create instance
                const app = new ProjectDetailApp(moduleUuid, projectIds);

                // Set the current Index to 0;
                app.setCurrentIndex(0);

                const elProjectModal = document.querySelector('#kda_modal_' + app.getModuleUuid());
                if (null === elProjectModal) {
                    console.log(`No modal window found.`);
                    return;
                }

                elProjectModal.addEventListener('show.bs.modal', eModal => {
                    app.initOwlCarousel('kda_owlSlider_' + app.getModuleUuid(), carouselOptions);
                });

                const modalWindow = new bootstrap.Modal('#' + elProjectModal.getAttribute('id'), {
                    //keyboard: false
                });

                const prevButton = elProjectModal.querySelector('.kda_refModalPrev');
                if (null !== prevButton) {
                    prevButton.addEventListener('click', async () => {
                        prevButton.setAttribute('disabled', 'true');
                        const currentIndex = app.getCurrentIndex();
                        const newCurrentIndex = currentIndex === 0 ? app.getProjectIds().length - 1 : currentIndex - 1;
                        app.setCurrentIndex(newCurrentIndex);

                        try {
                            const projectId = app.getProjectIds()[app.getCurrentIndex()];
                            const html = await app.fetchProjectData(projectId);
                            const elModalContent = document.querySelector('#kda_modal_content_' + app.getModuleUuid());
                            if (elModalContent) {
                                $(elModalContent).css('display', 'none');
                                elModalContent.innerHTML = html;
                                $(elModalContent).fadeIn();
                            }
                        } catch (error) {
                            console.error(error);
                            // Go back to last index
                            app.setCurrentIndex(currentIndex);
                        }

                        app.initOwlCarousel('kda_owlSlider_' + moduleUuid, carouselOptions);
                        prevButton.removeAttribute('disabled');
                    });
                }

                const nextButton = elProjectModal.querySelector('.kda_refModalNext');
                if (null !== nextButton) {
                    nextButton.addEventListener('click', async () => {
                        nextButton.setAttribute('disabled', 'true');
                        const currentIndex = app.getCurrentIndex();
                        const newCurrentIndex = currentIndex === app.getProjectIds().length - 1 ? 0 : currentIndex + 1;
                        app.setCurrentIndex(newCurrentIndex);

                        try {
                            const projectId = app.getProjectIds()[app.getCurrentIndex()];
                            const html = await app.fetchProjectData(projectId);
                            const elModalContent = document.querySelector('#kda_modal_content_' + app.getModuleUuid());
                            if (elModalContent) {
                                $(elModalContent).css('display', 'none');
                                elModalContent.innerHTML = html;
                                $(elModalContent).fadeIn();
                            }
                        } catch (error) {
                            console.error(error);
                            // Go back to last index
                            app.setCurrentIndex(currentIndex);
                        }

                        app.initOwlCarousel('kda_owlSlider_' + moduleUuid, carouselOptions);
                        nextButton.removeAttribute('disabled');
                    });
                }

                const elModule = document.querySelector('.kda_refGal[data-module-uuid="' + moduleUuid + '"]');
                if (null !== elModule) {
                    for (const projectOpener of elModule.querySelectorAll('[data-project-modal-opener]')) {
                        const projectId = projectOpener.dataset.projectModalOpener;
                        const events = ['click', 'keydown'];
                        for (const event of events) {

                            projectOpener.addEventListener(event, async (e) => {
                                if (clickEventObserver[projectId] && clickEventObserver[projectId] > 0) {
                                    return;
                                }
                                // Do not fire events twice
                                clickEventObserver[projectId] = 1;
                                window.setTimeout(() => {
                                    clickEventObserver[projectId] = null
                                }, 100);

                                if (e.type === 'keydown' && e.keyCode !== 13) {
                                    // Only react on "ENTER"
                                    e.stopPropagation();
                                    return;
                                }

                                const currentIndex = app.getCurrentIndex();
                                const newCurrentIndex = app.getProjectIds().indexOf(parseInt(projectId));
                                app.setCurrentIndex(newCurrentIndex);

                                try {
                                    const html = await app.fetchProjectData(projectId);

                                    const elModalContent = document.querySelector('#kda_modal_content_' + app.getModuleUuid());

                                    if (elModalContent && modalWindow) {
                                        elModalContent.innerHTML = html;
                                        modalWindow.show();
                                    }

                                } catch (error) {
                                    console.error(error);
                                    // Go back to last index
                                    app.setCurrentIndex(currentIndex);
                                }
                            })
                        }
                    }
                }
            });
        </script>
    {% else %}
        {{ empty }}
    {% endif %}

    {{ parent() }}
{% endblock %}
