{% extends '@Contao/block_searchable' %}

{% block content %}

    {% if project.hasDetailLink %}
        <p><a href="{{ project.detailLink }}">Detail-Link: {{ project.title }}</a></p>
    {% endif %}

    {% if project.showAdditionalContent and project.hasAdditionalContentLink %}
    <p><a href="{{ project.additionalContentLink }}">Link für Zusatz Inhalt: {{ project.title }}</a></p>
    {% endif %}

    <ul>
        {% for key, value in project %}
            {% if key == 'multiSRC' and project.hasGallery %}
                {% for image in value %}
                    <li>{{ key }}: {{ image.uuid }}</li>
                {% endfor %}
            {% else %}
                <li>{{ key }}: {{ value }}</li>
            {% endif %}
        {% endfor %}
    </ul>

    {{ parent() }}
{% endblock %}
